.deck-holder {
    display: flex;
}

.deck-data {
    background-color: #6A5480;
    color: #FFEBCC;
    padding: 20px;
}

.second-row-holder {
    display: flex;
}

.deck-data-item {
    flex: 1;
    margin: 0px 10px;
}

.deck-text-holder {
    padding: 30px;
    flex: 1.5;
}

textarea {
    width: 100%;
}

.deck-holder {
    flex: 4;
}

.deck-list-holder {
    width: 95%;
    margin-right: 3%;
}

.deck-select {
    margin: 0 .75em;
    display: inline-block;
}

.deck-select > option {
    color: #FFEBCC;
    background-color: #110D14;
}

.deck-select:focus {
    outline: none;
}

.hidden {
    display: none;
}

.deck-card-functions {
    margin: auto;
    text-align: center;
}

.deck-card-functions > button {
    margin: .5em;
}

.deck-link {
    cursor: default;
    color: #FFEBCC;
}

.deck-link:hover {
    cursor: pointer;
    color: #88B396;
}

.deck-button {
    background-color: #536659;
    border: 2px #FFEBCC solid;
    color: #FFEBCC;
    padding: .5em;
    text-align: center;
    text-decoration: none;
    margin: 0 .75em;
    display: inline-block;
}

.deck-button:hover {
    background-color: #88B396;
    cursor: pointer;
}

#deck-name-label {
    margin-right: 105px;
}