.App {
  padding: 0px;
}

.card-list-item {
  max-width: 400px;
}

.card-img {
  width: 100%;
  cursor: pointer;
}

.card-style {
  border-radius: 5% / 3.57%;
  box-shadow: 3px 3px 3px 3px rgba(0,0,0, .3);
  user-select: none;
}

.list-holder {
  margin: auto;
  padding: 1em;
  width: 80%;
  gap: .5em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
}

.transform-button {
  background-color: rgba(255, 235, 204, .5);
  border: 2px #6A5480 solid;
  color: #6A5480;
  padding: .5em;
  text-align: center;
  text-decoration: none;
  margin: 0 .75em;
  display: inline-block;
}



.transform-button:hover {
  cursor: pointer;
  background-color: #FFEBCC;
}

.small-transform-button {
  border: none;
  background-color: rgba(250, 245, 255, .5);
  color: rgba(17,13,20, .9);
  padding: .5em;
  text-align: center;
  text-decoration: none;
  position: relative;
  top: -50%;
  left: 77%;
  z-index: 1;
}

.small-transform-button:hover {
  background-color: #FAF5FF;
  color: #110D14;
  cursor: pointer;
}

.error-text {
  color: rgb(230,139,138);
}

.centered-text {
  text-align: center;
}

.inline-block {
  display: inline-block;
}

/*///////////////////
for animating flipping cards with uniquie back faces
////////////////////*/

@keyframes flip1 {
  0% {
    transform-style: preserve-3d;
    transform: rotateY(100deg);
  }
  100% {
    transform-style: preserve-3d;
    transform: rotateY(0deg);
  }
}

@keyframes flip2 {
  0% {
    transform-style: preserve-3d;
    transform: rotateY(100deg);
  }
  100% {
    transform-style: preserve-3d;
    transform: rotateY(0deg);
  }
}

.face-up {
  animation: flip1 1s;
}

.flipped {
  animation: flip2 1s;
}

/*
red     #e68b8a
orange  #e6bd81
yellow  #eff291
green   #85c79d
*/