nav {
  background-color: #536659;
  color: #FAF5FF;
  padding: 1em;
  text-align: center;
  width: 100%;
  margin: 0px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.App {
  padding: 0px;
}

.search-form {
  display: inline-block;
}

#search-bar {
  background-color: transparent;
  border: none;
  border-bottom: #FFEBCC 3px solid;
  height: 2em;
  color: white;
  width: 60%;
  font-family: 'Roboto Slab', serif;
  margin: auto;
  font-size: 1em;
}

#search-bar:focus {
  outline: none;
  border: none;
  border-bottom: #FFEBCC 3px solid;
}

.nav-spacer {
  height: 5em;
}

.nav-item {
  background-color: transparent;
  border: 2px #FFEBCC solid;
  color: #FFEBCC;
  padding: .5em;
  text-decoration: none;
  display: inline-block;
  margin: 0 .75em;
}

.nav-button {
  text-align: center;
}

.nav-select:focus {
  outline: none;
}

option {
  background-color: #536659;
}

option:hover {
  background-color: #6A5480;
}

.nav-item:hover {
  background-color: rgba(136, 179, 150,.5);
  cursor: pointer;
}

.nav-spacer {
  height: 5em;
}

.card-list-item {
  max-width: 400px;
}

.card-img {
  width: 100%;
  cursor: pointer;
}

.card-style {
  border-radius: 5% / 3.57%;
  box-shadow: 3px 3px 3px 3px rgba(0,0,0, .3);
  user-select: none;
}

.list-holder {
  margin: auto;
  padding: 1em;
  width: 80%;
  gap: .5em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
}

.small-transform-button {
  border: none;
  background-color: rgba(250, 245, 255, .5);
  color: rgba(17,13,20, .9);
  padding: .5em;
  text-align: center;
  text-decoration: none;
  position: relative;
  top: -50%;
  left: 77%;
  z-index: 1;
}

.small-transform-button:hover {
  background-color: #FAF5FF;
  color: #110D14;
  cursor: pointer;
}