.details-container {
    display: flex;
}

.long-name {
    font-size: 1.3em;
}

.really-long-name {
    font-size: 1.1em;
}

.alt-arts {
    border: 3px #6A5480 solid;
    border-bottom: 2px #6A5480 solid;
    height: max-content;
    margin: 1em;
    margin-right: 3em
}

.alt-art-box {
    background-color: rgba(133, 199, 157,.5);
    border-bottom: #6A5480 1px solid;
    padding: .5em;
}

.current-selected {
    background-color: rgba(133, 199, 157,1);
}

.alt-art-box > p {
    margin: 0px;
}

.inline {
    display: inline;
    margin: 0px;
}

.oracle-text-holder {
    margin: 10px;
    margin-bottom: 15px;
}

/*
red     #e68b8a
orange  #e6bd81
yellow  #eff291
green   #85c79d
*/

.legal {
    background-color: #85c79d;
}

.banned {
    background-color: #e68b8a;
}

.not_legal {
    background-color: #e6bd81;
}

.restricted {
    background-color: #eff291;
}

.selectable:hover {
    background-color: #85c79d;
    cursor: pointer;
}

.half-size {
    flex: 1
}

#detailed-card-holder {
    margin: 2em auto;
    width: 50%;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#card-details {
    background-color: #A69AB3;
    margin: 0px auto;
    height: fit-content;
    width: 100%;
    border-top: #536659 5px solid;
    border-bottom: #536659 5px solid;
    z-index: 2;
}

.detail-block {
    border-bottom: #FFEBCC 1px solid;
}

.top-border {
    border-top: #536659 2px solid;
}

.card-img-box {
    width: 100%;
    margin: 0px auto;
}

.card-buttons {
    position: absolute;
    bottom: 0px;
}

#detailed-card-img-holder {
    width: 100%;
    aspect-ratio: 5 / 7;
}

#detailed-card-img {
    width: 100%;
    z-index: 1;
}

.num-line {
    display: inline;
}

.right-align {
    text-align: right;
}

.inline-text-right {
    float: right;
}

.card-border {
    border-radius: 5% / 3.57%;
}

.card-shadow-0, .card-shadow-360 {
    box-shadow: 3px 3px 3px 3px rgba(0,0,0, .3);
}

.card-shadow-90 {
    box-shadow: 3px -3px 3px 3px rgba(0,0,0, .3);
}

.card-shadow-180 {
    box-shadow: -3px -3px 3px 3px rgba(0,0,0, .3);
}

.card-shadow-270 {
    box-shadow: -3px 3px 3px 3px rgba(0,0,0, .3);
}

@keyframes rotate-90-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(90deg);
    }
}

@keyframes rotate-180-animation {
    0% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

@keyframes rotate-270-animation {
    0% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(270deg);
    }
}

@keyframes rotate-0-animation {
    0% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.rotate-180 {
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    animation: rotate-180-animation;
    animation-duration: 1s;
}

.rotate-0 {
    animation: rotate-0-animation;
    animation-duration: 1s;
}

.rotate-270 {
    aspect-ratio: 5/7;
    margin: 0px;
    max-width: 21%;
    position: absolute;
    -webkit-transform:rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    animation: rotate-270-animation;
    animation-duration: 1s;
}

.rotate-90 {
    aspect-ratio: 5/7;
    margin: 0px;
    max-width: 21%;
    position: absolute;
    -webkit-transform:rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    animation: rotate-90-animation;
    animation-duration: 1s;
}